<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Device metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page properties -->
    <script type="module" src="/public/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css" />
    <title><%= post.title %></title>
</head>

<body>
    <div class="content-main display">
        <h1><%= post.title %></h1>
        <h2><%= post.description %></h2>
        <span><%= post.created %></span>
        <%- post.sanitizedHTML %>
    </div>
</body>

</html>